#DeviceRepairDetails {
  width: 100%;
  overflow: hidden;
}
#DeviceRepairDetails_container {
  width: 1280px;
  margin: auto;
  margin-top: 120px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
