#Locations{
    width: 1280px;
    margin: auto;
    height: auto;
    margin-top: 55px;
}
#location_card {
    min-width: 350px;
    min-height: 350px;
    position: relative;
  }
  #locationImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }