/* menu icons animation  */
#nav_icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#nav_icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
/* Icon 3 */

#nav_icon3 span:nth-child(1) {
  top: 0px;
}

#nav_icon3 span:nth-child(2),
#nav_icon3 span:nth-child(3) {
  top: 10px;
}

#nav_icon3 span:nth-child(4) {
  top: 20px;
}

#nav_icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav_icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav_icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav_icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
/* menu icons styles end */

/* logo  */
.nav_logo {
  width: 100px;
  height: 50px;
  object-fit: contain;
}
.text_logo {
  position: absolute;
  left: 71px;
  font-size: 20px;
  font-weight: 700;
  /* color: cornflowerblue; */
  color: white;
}
nav {
  background: #03103a;
}
#nav_container {
  max-width: 1280px;
  margin: 0 auto;
}

#search_div {
  width: 150px;
  overflow: hidden;
}
#services_link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#services_link:hover #serviceList_div {
  display: block;
}

#serviceList_div {
  display: none;
}
