.Ourgadgets {
  width: 1280px;
  height:auto;
  margin: auto;
  margin-top: 40px;
}
#Ourgadgets_container {
  width: 100%;
  background-color: #f7f9fa;
  min-height: 310px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
}
